<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>No Bull Recipes</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item" id="logout">
                        <a class="nav-link" href="logout"><i class="material-icons md-28" id="navbar-icon">&#xe9ba</i>Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="secrets"><i class="material-icons md-28" id="navbar-icon">&#xe88a</i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="my-saved-recipes"><i class="material-icons md-28" id="navbar-icon">&#xe8ef</i>My Cookbook</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}
    
    </body>
</html>