<body>
<h1>My Recipes</h1>
{{!-- {{#each recipes}} --}}
<ul>
    {{#each recipes}}
    <li>
        <form action="secrets" method="post">
            <input type="hidden" name="url" value="{{this.url}}">
            <button class="btnSavedRecipe" type="submit">{{this.title}}</button>
        </form>
    </li>
    {{/each}}
</ul>
</body>

{{!-- <script src="../js/getSavedRecipe.js"></script> --}}