<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {{!-- <link rel="stylesheet" href="/styles/styles.css"> --}}
    <title>Your page title</title>
  </head>

  {{!-- <body>
    <h1>NO BULL RECIPES</h1>
    <h3>Paste a URL:</h3>
    <div class="jumbotron text-center">
    <div class="container">
       <form>
                <div class="form-group">
                <label>URL</label>
                <input type="text" class="form-control" name="url">
                </div>      
                  <button type="submit" class="btn btn-dark">Get Recipe</button>
                </form>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
    </div>
  </body> --}}


  <body>
    <h1>NO BULL RECIPES</h1>
    <h2>{{user}}</h2>
    <br>


    <form action="my-saved-recipes" method="get">
      <input type="submit" value="My Saved Recipes" 
          name="Submit" id="frm1_submit" />
    </form>
    
    <br>
    <br>
    <div class="jumbotron text-center">
    <div class="container">
      <form>
        <div class="form-group">
        <label>URL</label>
        <input type="text" class="form-control" name="recipeURL" id="recipeURL">
        </div>      
          <button type="submit" class="btn btn-dark" id="btnGetRecipe" name="btnGetRecipe">Get Recipe</button>
      </form>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
    </div>

    <br>
    <h1 id="title"></h1>
    <h3 id="host"></h3>
    <br>
    <button type="submit" class="btn btn-dark" id="btnEmailRecipe" name="btnEmailRecipe">Email Recipe</button>
    <br>
    <button type="submit" class="btn btn-dark" id="btnSaveRecipe" name="btnSaveRecipe">Save Recipe</button>
    <br>

    <div class="container" style="display: flex; height: 100px;">
      <div id="ingredients-list" style="width: 50%;">
      </div>
      <div id="instructions-list" style="flex-grow: 1;">
    </div>

  </body>
  
<script src="../js/parse.js"></script>
<script src="../js/save.js"></script>
<script src="../js/email.js"></script>
