
body {
  background-color: #1A1A1D;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar-dark {
	background-color: transparent;
	color:blue;
}

#logout {
	margin-right: 40px;
}
.nav-item {
	margin-right: 5px;
}
#navbar-icon {
	margin-right: 5px;
}

/* Navbar links */
.navbar a {
	display: flex;
    align-items: center;
  }

/* Login Page */
.form-control:focus {
	background-color:transparent;
	color:#c5c5c7;
	border-color: rgb(173, 6, 48);
	box-shadow: 0px 1px 1px rgba(138, 218, 11, 0.075) inset, 0px 0px 8px rgb(173, 6, 48);
}
.card {
	background-color: transparent;
	color:#c5c5c7;
	border-radius: 5px;
	border-color: #0091b569;
	font-family: Helvetica, Arial, sans-serif;
}
.btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
  }

/* .btn-primary {
	background-color: #c5c5c7;
} */
  .btn-google {
	color: white !important;
	background-color: #ea4335;
  }
  
  .btn-register {
	color: white !important;
	background-color: #3b5998;
  }

  .form-control {
	display: inline-block;
	background-color: transparent;
	color:#c5c5c7;
	border-radius: 5px;
	border-color:#0091b569;
	
  }
  



.title-header  {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  /* text-shadow: 3px 3px #4E4E50; */
  letter-spacing: 15px;
  font-size: 75px;
  font-style: unset;
  font-weight:800;
  
}
.title-header a {
	color: rgb(173, 6, 48);
	text-decoration: none;
}
#recipe-title-host {
	color: #c5c5c7;
}
span, ol {
	color: #c5c5c7;
}
::before {
	color: #c5c5c7;
  }
.list-group-item {
	border-bottom: 1px solid #0091b569;
  }
  
.material-icons.md-36 { font-size: 36px; }



button{
	border:0;
	background:none;
	color: rgb(173, 6, 48);
	size
	/*And other css to remove the default button property */    
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}


#btnGetRecipe {
	margin-left: 10px;
	/* color: #c5c5c7; */
	border-radius: 5px;
	border-color:#0091b569;
}

#btnQueryConfirm {
	margin-left: 10px;
	border-radius: 5px;
}

#recipeURL, #recipeQuery {
	display: inline-block;
	background-color: transparent;
	color:#c5c5c7;
	border-radius: 5px;
}

/* Links to saved recipes with table */
.my-saved-recipes {
	background: none!important;
	border: 1px;
	border-color: white;
	padding:5px 15px;
	/*optional*/
	font-family: Helvetica, Arial, sans-serif;
	/*input has OS specific font-family*/
	color: #c5c5c7;
	text-decoration: none;
	cursor: pointer;
  }

/* Links to saved recipes with table */
.btnSavedRecipe {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: Helvetica, Arial, sans-serif;
  /*input has OS specific font-family*/
  color: #c5c5c7;
  text-decoration: none;
  cursor: pointer;
}


#container-recipeNotes {
	color: #c5c5c7;
}


/* Table Styling */
tbody tr {
	color: #c5c5c7;
	border-color: #0091b569;
}

thead tr th {
	border-bottom: 1px solid #0091b569!important;
  }
table thead {
	color: #c5c5c7;
	font-size: 22px;
}

#savedRecipesTable {
	white-space: nowrap;
    width: auto;
	margin-left: auto;
  	margin-right: auto;
}

td {
	padding-right: 60px !important;
	vertical-align: middle;
}

#td-delete {
	text-align: center;
}

.material-icons.md-24 { 
	font-size: 24px;
	color: rgb(173, 6, 48);
	position: relative;
	left: 85%;
}

/* #similarRecipesTable, tr {
	border: 1px solid black;
	border-collapse: collapse;
}
#similarRecipesTable, tr {
	white-space: nowrap;
    width: auto;
	margin-left: auto;
  	margin-right: auto;
	border-color: 1px solid black;
	border-collapse: collapse;
	border-radius: 5px;
	text-align: left;
	font-size: 0.9rem;
	color:#c5c5c7
}

#similarRecipesTable tr th {
	white-space: nowrap;
    width: auto;
	margin-left: auto;
  	margin-right: auto;
	border-color: transparent;
	text-align: left;
	vertical-align: bottom;
} */
.btnSimilarRecipe {
	color:#c5c5c7

}

/* Table Styling */



.modal-content {
	background-color: #1A1A1D;
	color: white;
	border: 1px solid black !important;
	border-radius: 5px;
  }

.modal-body textarea  {
	background-color: #1A1A1D;
	color: #c5c5c7;
}


.modal-body input  {
	background-color: transparent;
	color:#c5c5c7;
	border-radius: 5px;
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid rgb(173, 6, 48);
}
.modal-confirm .icon-box i {
	color: rgb(173, 6, 48);
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-body {
    max-height: 40vh;
    overflow-y: auto;
}
.modal-dialog {
    overflow-y: initial !important
}
/* .modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #006B38FF;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
} */


/* .modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535; */
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}




textarea {
	resize: none;
  }

#action-icons {
	display: none;
}

  /* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #0091b569;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #0091b569;
  }